<footer>
    <div class="footer-container">
        <p>© 2025 TicketZone Fest.</p>
        <div class="footer-section">
            <div class="social-links">
                <a href="#"><img src="/images/Logos/icons8-facebook-48.png" ></a>
                <a href="#"><img src="/images/Logos/icons8-twitterx-50.png"></a>
                <a href="#"><img src="/images/Logos/icons8-instagram-48.png"></a>
                <a href="https://github.com/CodeURJC-DAW-2024-25/webapp10"><img src="/images/Logos/icons8-github-30.png"></a>

            </div>
        </div>
    </div>
</footer>