body {
    font-family: Arial, sans-serif;
    margin-top: 20%;
    padding-top: 7%;
    background-color: rgb(47, 46, 46)!important;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.header {
    background: linear-gradient(135deg, #120661, #a728b5);
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:10px;
    align-items: center;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.concertimage {
    object-fit: cover;
    width: 100%;
    height: auto;
    aspect-ratio: 12 / 16;
}

.profilephoto{
    border-radius: 50%;
    width: 60px;
    object-fit: cover;
}

* {
    margin: 0;
    padding: 0;
    color: white;
}


#container-userPage {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

.content-userPage {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 15px;
}
/*
p{
    font-weight: bold;
}*/

.row {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.purchase-history {
    flex-grow: 1;
    max-height: 120vh;
    overflow-y: auto;
    align-self: stretch;
    margin-top: 10px;
}

table {
    width: 100%;
}

.concertImage {
    object-fit: cover;
    width: 100%;
    height: auto;
    aspect-ratio: 12 / 16;
}

.purchaseImage {
    object-fit: cover;
    width: 100%;
    height: auto;
    aspect-ratio: 15 / 16;
}

table td {
    padding: 10px;
}

#container-userPage .row img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

#title{
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}

.registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40%;
    margin-right: 6%;
    height: auto;
}

.logo h1 {
    font-size: 18px;
}

.navButtons {
    display: flex;
    gap: 10px;
    margin-right: 30px;
    margin-left: 20px;
}

.navButtons button {
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.navButtons button:hover {
    opacity: 0.8;
}

#container-concertInfoPage h1 {
    color: white;
    background-color: #230667;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}

#container-concertInfoPage h4 {
    color: white;
    background-color: #541a71;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

#container-concertInfoPage p {
    text-align: justify;
}

#container-concertInfoPage h5 {
    color: white;
    background-color: #400c84;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 4px;
}

/*Index*/

.link-ca{
    margin: 0;
    padding: 0;
    text-emphasis: none;
}

.title {
    color: white;
    background-color: #230667;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 70px;
    position: relative;
    text-transform: uppercase;
    margin-right: 20px;
    justify-content: center;
}

/* Contenedor del Grid */
.concert-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

/* Tarjetas */
.concert-card {
    background-color: rgba(19, 18, 18, 0.1);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: rgb(28, 27, 27);
}

.concert-card a {
    text-decoration: none;
}

.concert-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgb(147, 144, 144);
}

.concert-card:hover img{
    filter: brightness(0.5);
}

/* Images */
.concert-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* Concert information */
.concert-info {
    padding: 15px;
    background-color: rgb(28, 27, 27);
}

.concert-info h5 {
    font-size: 20px;
    margin: 5px 0;
}

.concert-info p {
    font-size: 14px;
    color: #ddd;
    font-size: 19px;
}

/* "Load More" button */
.load-more-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.load-more-btn {
    background: #800080;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
}

.load-more-btn:hover {
    background: #4B0082;
}


@media (max-width: 950px) {
    body {
        padding-top: 12%;
    }

    #container-concertInfoPage h1 {
        font-size: 20px;
        padding: 8px;
        margin-top: 50px;
    }

    #container-concertInfoPage h4 {
        font-size: 18px;
        padding: 8px;
    }

    #container-concertInfoPage h5 {
        font-size: 16px;
        padding: 8px;
    }

    #container-concertInfoPage p {
        font-size: 16px;
    }

    #container-concertInfoPage .row img {
        max-width: 100%;
        height: auto;
    }

    .navButtons {
        flex-direction:row;
        gap: 10px;
    }

    .navButtons button {
        width: 100%;
    }

    .concert-grid{
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (max-width: 480px) {
    body {
        padding-top: 20%; 
    }

    #container-concertInfoPage h1 {
        font-size: 16px;
        padding: 6px;
        margin-top: 80px;
    }

    #container-concertInfoPage h4 {
        font-size: 16px;
        padding: 6px;
    }

    #container-concertInfoPage h5 {
        font-size: 14px;
        padding: 6px;
    }

    #container-concertInfoPage p {
        font-size: 14px;
    }

    .concert-grid {
        grid-template-columns: repeat(1, 1fr); 
    }
}




footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
  }

  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
  }
  .footer-section {
    max-width: 300px;
    margin: 10px;
  }
  .footer-section h4 {
    margin-bottom: 10px;
  }
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  .footer-section ul li {
    margin: 5px 0;
  }
  .footer-section ul li a {
    color: white;
    text-decoration: none;
  }
  .social-links a img {
    width: 24px;
    margin: 0 5px;
  }

iframe{
    width:100%;
    height:350px;
    
}

.error{
    color:red;
}

/* Styles for the spinner */
#spinner {
    display: none;
    border: 4px solid #f3f3f3; /* Spinner background */
    border-top: 4px solid #3498db; /* Color of the top */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
}
/*Spinner*/
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.chartCanvas {
    width: 400px !important;
    height: 200px !important;
    margin-left: auto;
}

.alert{
    margin-top: 20px;
}

.chartCanvas {
    width: 900px !important;
    height: auto !important;
    margin-left: auto;
}

.purchasebuttons{
    margin-bottom: 20px;
}
